.heading{
    width: 100%;
    margin-top: 0;
    font-size: 25px;
    font-family: cursive;
}

#start,#object_status,#status{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 3px;
}

input{
    width: 15%;
    height: 30px;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}